<div class="member-card" tabindex="0" role="checkbox" aria-checked="true">
    <img class="img-card" [src]="dataMemberShip.image" alt="image-member-ship"/>
    <h3 class="title-card">{{ dataMemberShip.name }}</h3>  
    <hr>
    <p class="item-check">  <i class="fa-regular fa-circle-check"></i>خصم تأجير {{dataMemberShip.rental_discount}} %  </p>
    <p class="item-check"> <i class="fa-regular fa-circle-check"></i> السماح ب {{dataMemberShip.allowed_Kilos}} كيلو إضافية  </p>
    <p class="item-check">  <i class="fa-regular fa-circle-check"></i>السماح ب {{dataMemberShip.extra_hours}} ساعات إضافية </p>
    <p class="item-check"> <i class="fa-regular fa-circle-check"></i>خصم {{dataMemberShip.delivery_discount_regions}}% عند التسليم   بين المناطق المختلفة   </p>
    <p class="item-check"> <i class="fa-regular fa-circle-check"></i> 1000 ريال مدفوعة يساوي {{dataMemberShip.ratio_points}} نقطة من ابوذياب </p>
</div>